<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772964121786-gdf4k494q4kq0882o9clht1hrfhaih15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772964121786-gdf4k494q4kq0882o9clht1hrfhaih15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772964121786-crervrgdp58bj71gfoq7foupfefrn4tf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDANXR9Ua3XE_X_yC6uBdbXR3sbglJAxVg</string>
	<key>GCM_SENDER_ID</key>
	<string>772964121786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bbtechnologies.shutterspace</string>
	<key>PROJECT_ID</key>
	<string>shutterspace-eb637</string>
	<key>STORAGE_BUCKET</key>
	<string>shutterspace-eb637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772964121786:ios:b287617acdffdb5ba5d683</string>
	<key>DATABASE_URL</key>
	<string>https://shutterspace-eb637-default-rtdb.firebaseio.com</string>
</dict>
</plist>